.stories {
  overflow: hidden;

  &__item:first-child {
    margin-left: 0;
  }
}

.feeds {
  &__list {
    width: 979px;
    margin: 0 auto;
  }

  &__item {
    &:first-child {
      margin-top: 0;
    }
  }
}
